<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="header">Sign up</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%#EMAIL%>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <%#PASSWORD%>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" , class: "form-control"%>
        </div>

        <%#CONFIRM PASSWORD%>
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
        
        <%#SIGN UP%>
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-default" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <%=image_tag "ride-experience-explore.png", class:"img-responsive img_quote_index"%>
    </div>
  </div><!-- end row -->
</div> <!-- end container -->
