<h1 class="product_header container">Orders</h1>
<div class="container">
 <% @users.each do |user|%>
  <% @orders.each do |order|%>
    <% if user.id == current_user.id && current_user.id == order.user_id%>
      <% @products.each do |product|%>
        <% if order.product_id == product.id%>
          <%#PRODUCT ORDER DETAILS%>
          <div class="row order_row">
            <div class="col-xs-12 col-sm-6 products">
              Order Id: <%= order.id%> <br>
              Product Id: <%= order.product_id %> <br>
              Product Name: <%= product.name %> <br>
              Product Color: <%= product.colour %> <br>
              <span class="total" >Total: $<%= product.price%> </span><br>
            </div>
            <div class="col-xs-12 col-sm-6 products">
              <%= image_tag(product.image_url, class: "img-responsive") %>
           </div>
          </div> <!-- end row -->
        <%end%> <!-- end if -->
      <%end%> <!-- end product -->
    <%end%> <!-- end if -->
  <%end%> <!-- end order -->
<%end%> <!-- end user -->
</div> <!--END CONTAINER-->
