<p id="notice"><%= notice %></p>
<h1 class="product_header container">Products</h1>
<div class="container">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <%= product.name %> <br>
        <%= product.description %><br>
        <%= product.image_url %>
        <%= product.colour %>
        <%= product.price %> <br>
      </div><!-- /col -->
    <% end %>
    <br>
  <%= link_to 'Add New Product', new_product_path %>
</div>




