
  <p id="notice"><%= notice %></p>
  <h1 class="product_header container">Products</h1> 
  <div class="container"><%= link_to 'Add New Product', new_product_path %></div>
  <div class="container">

  <%#RENDER FROM PARTIAL FILE _PRODUCT%>
  <%#= render @products %>
<% @products.each do |product| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 products">
      <%= image_tag(product.image_url, class: "img-responsive") %>
    </div>  
    <div class="col-xs-12 col-sm-6 products">
      <span class = "product_name"> <%= product.name %> </span> <br>
      <%= product.description %> <br>
      <%= product.colour %> <br>
      $<%= product.price %> <br>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Show', product %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %> 
  
  </div> 
