<p id="notice"><%= notice %></p>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 products">
      <%#DISPLAY PRODUCT IMAGE%>
      <%= image_tag(@product.image_url, class: "img-responsive thumbnail img-zoom", data_zoom_image: @product.image_url ) %>

      <% if current_user && current_user.admin?%>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
      <%end%>
      
      <%= link_to 'Back', products_path, class: "btn btn-default" %>
    </div>

    <div class="col-xs-12 col-sm-6 products">  
      <%#DISPLAY PRODUCT INFO%>
      <h1><%= @product.name %></h1>
      <%= @product.description %> <br> <br> 
      <strong>Colour:</strong>
      <%= @product.colour%> <br> <br>
      <strong>Price: $</strong>
      <%= @product.price %> <br> <br>
      
      <%#DISPAY AVERAGE RATING%>
      <strong>Average Rating:</strong> <br> <br>
      <div id ="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div>
      <br><br>


      <%#RENDER BUY BUTTON%>
      <%= form_tag 'payments/create' do %>
        <%= render partial: 'shared/stripe_checkout_button'%>
      <% end %>
      
    </div>
    
  </div> <%#END ROW%>
  
    <%#ADD REVIEW%>
    <%= render 'new_comments', comment: @product %>

    <%#DISPLAY PRODUCT COMMENTS%>
    <div class="alert alert-info" style="display:none" role="alert"> A new comment was posted! </div>
    <%= render 'comments', comment: @product %>

    <%#PAGINATE COMMENTS%>
    <%= will_paginate @comments %>
    
</div><%#END CONTAINER %>
